@import "tailwindcss";
@plugin "daisyui";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Gluten";
  src: url("/fonts/Gluten-VariableFont_slnt,wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-pink: #f6e9ee;
  --color-primary-red: #f3c7c7;
  --color-primary-green: #daecde;
  --color-primary-yellow: #f8e5c5;
  --color-primary-blue: #d2dde7;
  --color-primary-purple: #554657;
  --color-primary-beige: #fffdf4;

  /*Typografi */
  --font-main: "Gluten", sans-serif;
}

@layer base {
  .Titel {
    font-family: var(--font-main);
  }
  .H1 {
    font-family: var(--font-main);
  }
  h2,
  .H2 {
    font-family: var(--font-main);
    color: var(--color-primary-purple);
  }
  .H3 {
    font-family: var(--font-main);
  }
  .H4 {
    font-family: var(--font-main);
  }
  .H5 {
    font-family: var(--font-main);
  }
  .Brødtekst {
    font-family: var(--font-main);
  }

  .Titel-mobil {
    font-family: var(--font-main);
  }
  .H1-mobil {
    font-family: var(--font-main);
  }
  .H2-mobil {
    font-family: var(--font-main);
  }
  .H3-mobil {
    font-family: var(--font-main);
  }
  .H4-mobil {
    font-family: var(--font-main);
  }
  .H5-mobil {
    font-family: var(--font-main);
  }
  .Brødtekst-mobil {
    font-family: var(--font-main);
  }

  /* Farver */

  .color-primary-pink {
    color: var(--color-primary-pink);
  }
  .color-primary-red {
    color: var(--color-primary-red);
  }
  .color-primary-green {
    color: var(--color-primary-green);
  }
  .color-primary-yellow {
    color: var(--color-primary-yellow);
  }
  .color-primary-blue {
    color: var(--color-primary-blue);
  }
  .color-primary-purple {
    color: var(--color-primary-purple);
  }
  .color-primary-beige {
    color: var(--color-primary-beige);
  }
}

@layer components {
}

@layer utilities {
}
