---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Titel">
  <main class="bg-[var(--color-primary-beige)]">
    <div>
      <img class="md:pl-38 md:pr-38 md:pb-3" src="public/hero_art_1.png" alt="heroart" />
    </div>

    <Card />
  </main>
</MainLayout>
