---
import Text from "./Text.astro";
import Heading from "./Heading.astro";
---

<div class="navbar bg-[var(--color-primary-beige)] px-6">
  <div class="flex-1">
    <img class="w-50 h-20" src="public/logo.svg" alt="logo" />
  </div>

  <div class="flex gap-6 items-center">
    <!-- LIST VIEW BUTTON -->
    <a href="../pages/liste.astro" class="w-16 h-16 rounded-full flex items-center justify-center
             bg-[var(--color-primary-red)]
             border-4 border-[var(--color-primary-purple)]
             hover:bg-[var(--color-primary-pink)]
             transition duration-200">
      <img src="/public/listview_icon.svg" alt="list view icon" class="w-8 h-8 object-contain" />
    </a>

    <!-- PROFILE BUTTON -->
    <button class="w-16 h-16 rounded-full flex items-center justify-center
             bg-[var(--color-primary-red)]
             border-4 border-[var(--color-primary-purple)]
             hover:bg-[var(--color-primary-pink)]
             transition duration-200">
      <img src="/public/profile_icon.svg" alt="profile icon" class="w-8 h-8 object-contain" />
    </button>
  </div>
</div>
