---
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<div class="grid grid-cols-2 lg:grid-cols-4 gap-6 px-8">
    <div class="card bg-[var(--color-primary-yellow)] w-full shadow-sm rounded-xl">
        <figure class="px-3 pt-3 pb-6">
            <img src="../snowman.png" alt="Shoes" class="rounded-xl h-25 w-45 md:h-40 md:w-70" />
        </figure>
        <div class="card-body pl-3 pr-3 pb-3">
            <Heading size="h2">Cirkeline: På med vanten</Heading>
            <div class="card-actions flex flex-row items-center justify-between mt-2">
                <Heading size="h5" class="m-0">5 MIN</Heading>
                <img src="button.svg" alt="Børnebiffen logo" class="h-7 w-7 md:h-14 md:w-14" />
            </div>
        </div>
    </div>

    <div class="card bg-[var(--color-primary-yellow)] w-full shadow-sm rounded-xl">
        <figure class="px-3 pt-3 pb-6">
            <img src="../snowman.png" alt="Shoes" class="rounded-xl h-25 w-45 md:h-40 md:w-70" />
        </figure>
        <div class="card-body pl-3 pr-3 pb-3">
            <Heading size="h2">Cirkeline: På med vanten</Heading>
            <div class="card-actions flex flex-row items-center justify-between mt-2">
                <Heading size="h5" class="m-0">5 MIN</Heading>
                <img src="button.svg" alt="Børnebiffen logo" class="h-7 w-7 md:h-14 md:w-14" />
            </div>
        </div>
    </div>

    <div class="card bg-[var(--color-primary-yellow)] w-full shadow-sm rounded-xl hidden md:block">
        <figure class="px-3 pt-3 pb-6">
            <img src="../snowman.png" alt="Shoes" class="rounded-xl h-25 w-45 md:h-40 md:w-70" />
        </figure>
        <div class="card-body pl-3 pr-3 pb-3">
            <Heading size="h2">Cirkeline: På med vanten</Heading>
            <div class="card-actions flex flex-row items-center justify-between mt-2">
                <Heading size="h5" class="m-0">5 MIN</Heading>
                <img src="button.svg" alt="Børnebiffen logo" class="h-7 w-7 md:h-14 md:w-14" />
            </div>
        </div>
    </div>

    <div class="card bg-[var(--color-primary-yellow)] w-full shadow-sm rounded-xl hidden md:block">
        <figure class="px-3 pt-3 pb-6">
            <img src="../snowman.png" alt="Shoes" class="rounded-xl h-25 w-45 md:h-40 md:w-70" />
        </figure>
        <div class="card-body pl-3 pr-3 pb-3">
            <Heading size="h2">Cirkeline: På med vanten</Heading>
            <div class="card-actions flex flex-row items-center justify-between mt-2">
                <Heading size="h5" class="m-0">5 MIN</Heading>
                <img src="button.svg" alt="Børnebiffen logo" class="h-7 w-7 md:h-14 md:w-14" />
            </div>
        </div>
    </div>
</div>
